<!DOCTYPE html>
<html>
<head>
<title>Troškovnik</title>
<style>
.container{
    width: 100%;
}
.inner-container{
    width: 50%;
    margin: 15% auto;
    padding: 10px 0 10px 25px;
    background-color: bisque;
    border-radius: 10px;
}
.forma{
    margin-left: 10%;
}
.m-b{
    margin-bottom: 10px;
}
</style>
</head>
<body>

<div class="container">
    <div class="inner-container">
        <h1>Registracija korisnika</h1>
            <div class="forma">
                <form action="/novi_korisnik" method="POST">
                    Ime: <input type="text" name="ime" placeholder="Upisite Ime" class="m-b"><br>
                    Prezime: <input type="text" name="prezime" placeholder="Upisite Prezime" class="m-b"><br>
                    Mail: <input type="text" name="mail" placeholder="Upisite mail" class="m-b"><br>
                    Lozinka: <input type="text" name="lozinka" placeholder="Upisite Lozinku" class="m-b"><br>
                    <input type="submit" value="Submit">
                </form>
                <a href="index.html">Prijava</a>
                

            </div>
        
        
        
    </div>
</div>
</body>
</html>


